<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <style>
        .variants {
            list-style-type: none;
        }
    </style>
</head>
<body>
    <center>
        <h1>Выбор вариантов использования</h1>
        <ul class="variants">
            <li><a href="/query">Работа с запросами</a></li>
            <li><a href="/report">Работа с отчётами</a></li>
            <li><a href="/order">Корзина покупок</a></li>
            <li><a href="{{ url_for('bp_auth.logout') }}">Выход из системы</a></li>
        </ul>
    </center>
</body>
</html>