{% macro render_item(item, show_amount=False, show_form=False) %}
<div>
    <p>
        <span>Название</span>
        <span style="color: blue">{{ item['prod_name'] }}</span>
        <span>Цена</span>
        <span>{{ item['prod_price'] }}</span><br>
    </p>

    {% if show_amount %}
    <p>
        <span>Количество</span>
        <span>{{ item['amount'] }}</span>
    </p>
    {% endif %}

    {% if show_form %}
    <div>
        <form action="" method="POST">
            <input type="hidden" name="prod_id" value="{{ item['prod_id'] }}">
            <input style="color: red" type="submit" value="Купить">
        </form>
    </div>
    {% endif %}
</div>
{% endmacro %}
<!-- show_amount - показывает количество, show_form - отображает корзину-->