<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Запрос</title>
</head>
<body>
<center>
    <h2>Ввод параметров поиска</h2>
    <p>
        <form action="" method="POST">
            <label for="prod_category">Категория продуктов</label>
            <input type="text" name="prod_category" id="prod_category">
            <br><br>

            <input type="submit" value="Отправить">
        </form>
    </p>
    <a href="/">Вернуться на главную страницу</a>
</center>
</body>
</html>